# Generic
Thumbs.db
Desktop.ini
.directory
.DS_Store
._*
*.cache
*.crt
*.log
*.old
*.key
*.pem
*.tmp
*.zip
*~

# Developments
# --------------------------
.env.*
.env

# But Keep these
# --------------------------
!.env.*.example
!.env.example
!.gitkeep
